:root {
    --primary-color: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: white;
}

h1,
h2,
h3 {
    color: white;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background-image: url(Images/netflix_background.jpg);
}

.showcase-top {
    position: relative;
    height: 90px;
}

.showcase-top img {
    height: 70px;
    width: 190px;
}